django==2.0
gunicorn==19.9.0
django-guardian==1.4.9
django-geojson
django-leaflet
django-grappelli
jsonfield
Pillow
six
django-redis-cache
redis==2.10.6
django-compressor==2.2
psycopg2-binary
urllib3
requests