{% load static from staticfiles %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/login_form.css' %}" />
  <!-- Latest compiled and minified CSS -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
 
  
</head>

<div class="container">
  <header>
		<h1 class="text-center">Welcome!</h1>
	</header>
	
	<form class="registration-form" method="post" action="{% url 'login' %}">
	  {% csrf_token %}
		<label>
			<span class="label-text">Username</span>
			<input type="text" name="username">
		</label>
		<label class="password">
			<span class="label-text">Password</span>
			<button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
				<span class="showPassword">SHOW</span>
			</button>
			<input type="password" name="password">
		</label>
		<p class="text-center errorText">{% if form.errors %}username and password didn't match.{% endif %}</p>
		<div class="text-center buttonsWrapper">
			<a class="anotherButtons left">FORGOT?</a>
		<button class="submit gradient-border text-center go width" name="login" type="submit" value="registration" >Sign in</button>
		<a class="anotherButtons right" href="{% url 'signup' %}">SIGNUP</a>
		</div>
		
	</form>
</div>


 <script type="text/javascript" src="{% static 'js/login_form.js' %}"></script>