<!DOCTYPE html>
{% load leaflet_tags %}
{% load static from staticfiles %}
{% load compress %}
<html lang="en">
  <head>
    <!--[if IE 8]><script src="{% static "leaflet/eventlister.ie8.js" %}"></script><!--<![endif]-->
    <!--[if lt IE 8]><script src="{% static "leaflet/eventlister.ie6-7.js" %}"></script><!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
window.quests_count = {{ quests_count }};
window.center  = {{center}};
window.quest = {{quest}};
window.level = {{level}};

window.polygon = {{polygon | safe}};
window.marker = {{marker | safe}};

window.locateImagePath = `{%static 'map/images/locate.png'%}`;
window.profileImagePath = `{%static 'map/images/user.png'%}`;
window.toQuestImagePath = `{% static 'map/images/toquest.png' %}`;

window.profileUrl = `{% url "profile" %}`;
window.questListUrl = `{% url 'quest_list' %}`;
window.logoutUrl = `{% url 'logout' %}`;
    </script>
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    {% leaflet_css %}
    {% leaflet_css plugins="fullscreen,buttons,sidebar,routing" %}
    {% endcompress %}

    {% compress js %}
    {% leaflet_js %}
    {% leaflet_js  plugins="fullscreen,buttons,sidebar,routing" %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
  </head>
  <body>

    {% leaflet_map "main" settings_overrides=override %}


    <div class="user" id="users">{{ user.get_username }} {{level}}
    <a href="{% url 'levelUp' quest=quest %}">Level up</a>
    <a href="{% url 'levelDown' quest=quest %}">Level down</a>
    <a href="{% url 'testreset' quest=quest %}">Restart quest</a>
    <a href="{% url 'clear_cache' quest=quest %}">Refresh cache</a>
    </div>


  <div id="sidebar">
    <h1></h1>
  </div>

  </body>
</html>