<!DOCTYPE html>
{% load cache %}
{% cache 60000 statics_list %}
{% load leaflet_tags %}
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js  plugins="fullscreen,buttons,sidebar" %}
    {% leaflet_css plugins="fullscreen,buttons,sidebar" %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endcache %}
    <script type="text/javascript">
    {% if progress == 0 %}
      fetch('{% url "profile" %}?quest=1').then(function(resp){return resp.json();})
        .then(function(data) {
          window.progress = data.progress;
        });
      window.addEventListener("map:init", function mapmake(event) {
    {% else %}
      window.addEventListener("map:init", function mapmake(event) {
        window.progress = {% autoescape off %}{{progress}}{% endautoescape %};
    {% endif %}
        var map = event.detail.map;


        map.addControl(new L.Control.Fullscreen({ position: 'bottomleft' }));

        var profileButton = L.easyButton('<img class="profileButtonImage" src="{%static 'map/images/user.png'%}">', function(btn, map){

          var links = ''
          for(i=1;i<={{ quests_count }};i++){
            links += `<li class='${progress[i].status[2]}'>
          <a href="{% url 'quest_list' %}${progress[i].this_id}/">${progress[i].title}</a>:
          ${progress[i].progress}
          ${progress[i].status[1]}</li>`
          }
          links += '</ul>'

          var content = `
          <br>
          <button id="closeButton">Close</button>
          <br>
          <h3>{{ user.username }} ({{ user.get_full_name }})</h3>
          <ul>
          <h4>YOUR TOTAL PROGRESS:</h4>
          `;

          content += links;
          content += `<a href="{% url 'logout' %}"><button id="logoutButton">Logout</button></a>`;
          sidebar.show();
          sidebar.setContent(content);
          document.getElementById("closeButton").onclick = hideSidebar;

        },{ id: 'profileButton', position: 'bottomright' });

        map.addControl(profileButton);

        var sidebar = L.control.sidebar('sidebar', {
          closebutton: true,
          position: 'right'
        });

        map.addControl(sidebar);

        function hideSidebar(){
          sidebar.hide();
        }

        function getPoints(data){
            var features = data.features;
            window.linePoints = [[]];
            window.levels = [[]];
            for (i = 1; i <= progress.length; i++){
              linePoints.push([]);
              levels.push(0);
            }
            for (i = 0; i < features.length; i++) {
              for (j = 1; j <= levels.length; j++){
                if(features[i].properties.quest === j){
                  linePoints[j].push(features[i].geometry.coordinates);
                  levels[j] += 1;
                } else {}
            }}}

        // Download GeoJSON data with Ajax
        fetch('{% url "marker" %}')
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {

            getPoints(data);
            {% autoescape off %}
            var descs = {{descs}}
            var colors = {{colors}}
            {% endautoescape %}
            for(i=1;i<=linePoints.length;i++){
            L.geoJSON({"type": "LineString","coordinates": linePoints[i]},
                {style: {"color": colors[i], "weight": 15, "opacity": 0.65},
                onEachFeature: function onEachFeature(feature, layer) {
                  if(progress[i] != undefined){
                    var content = `<button id="closeButton">close</button><br><br>
                    <h1>${progress[i].title}</h1><h4>TOTAL LEVELS: ${levels[i]}</h4>
                    <p>${descs[i]}</p><h3>YOUR PROGRESS: ${progress[i].progress}
                    ${progress[i].status[1]}</h3><a href="{% url 'quest_list' %}${i}/">
                    <button>Go to ${progress[i].title}</button></a>`;
                    layer.on('click', function(){
                        sidebar.show();
                        sidebar.setContent(content);
                        document.getElementById("closeButton").onclick = hideSidebar;
                    });
                  }
                }
            }).addTo(map);}

          });




      });


    </script>

  </head>
  <body>

    {% leaflet_map "main" settings_overrides=override %}

  <div id="sidebar">
    <h1></h1>
  </div>

  </body>
</html>